---
// Footer.astro
---

<footer>
  <div class="container foot-grid">
    <div class="foot-col">
      <h4>Contacto</h4>
      <p>Central telefónica: 01 1234567<br>Emergencias: <strong>105</strong><br>Atención: 24/7</p>
    </div>
    <div class="foot-col">
      <h4>Redes</h4>
      <a href="https://www.facebook.com/Policia" target="_blank" rel="noopener noreferrer">Facebook</a>
      <a href="https://x.com/policiaperu" target="_blank" rel="noopener noreferrer">X (Twitter)</a>
      <a href="https://www.youtube.com/c/Polic%C3%ADaPer%C3%BA" target="_blank" rel="noopener noreferrer">YouTube</a>
    </div>
  </div>
  <div class="container foot-bottom">
    <div>No es un sitio oficial de la PNP.</div>
    <div>© 2025 – Curso Integrador I</div>
  </div>
</footer>
